* {
    margin: 0;
    padding: 0;
}
.conteiner {
    max-width: 1360px;
    max-height: 768px;
}
.preto {
    background-color: #2b2d42;
}
body {
    background-color: #8d99ae;
}
.menu {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
}
.menu li {
    position: relative;
    float: left;
    border-right: 1px solid;
    list-style-type: none;
}
.menu li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}
.menu li a:hover {
    background: #343a40;
    color: white;
}
.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #343a40;
    color: white;
    display: none;
}
.menu li.over ul {
    display: block;
}
.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;

}

.info{
    margin-left: 30px;
    display: inline-flex;
}
.foto {
    border: #2b2d42;
    border-width: 10px;
    border-style: double;
    max-width: 200px;
    margin-left: 59px;
}
.txtbranco {
    color: #edf2f4;
    padding-top: 40px;
    padding-bottom: 15px;
    margin-left: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
