body {
  background-color: rgb(253 , 251 , 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  z-index: 1;
}

#titulo {
  font-family: Didot, Times, serif;
  background-image: url('img/azul.jpg');
  width: 1366px;
  
  text-align: center;
  padding: 10px;
}

#minha_foto {
  width: 150px;
  margin-top: 100px;
  border: lightskyblue dashed;

}

.listas {
  position: absolute;
  left: 190px;
  top: 90px;
  display: inline-flex;
  background-image: url('img/azul.jpg');
}

.padding {
  margin: 10px;
}

.lado-esquerdo {
  max-width: 400px;
  margin-left: 550px;
  background-image: url('img/azul.jpg');
  padding: 10px;
  display: inline-flex;
  position: absolute;
  margin-top: -225px;
}

.lado-direito {
  max-width: 336px;
  margin-top: 45px;
  margin-left: 180px;
  background-image: url('img/azul.jpg');
  padding: 10px;
  position: absolute;
}

footer {
  font-size: 14px;
  margin-left: 7px;
  font-weight: 900;
  font-family: Courier New, Courier, monospace;
  color: gray;
  letter-spacing: 0.5px;
}
